# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:4101
NEXT_PUBLIC_PRODUCTION_API_URL=https://twillo-callbot-22483063703.asia-northeast3.run.app
NEXT_PUBLIC_SOFTPHONE_NUMBER=+1 814 402 8603
NEXT_PUBLIC_SOFTPHONE_AGENT_IDENTITY=agent-admin
NEXT_PUBLIC_KAKAO_MAP_KEY=

# Add other environment variables as needed
